ul, li, h1, h2, h3, h4, h5, h6, p, div, section, article, a, body, html, button, input, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  text-align: inherit;
  text-decoration: none;
  box-sizing: content-box;
}

button, a {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

ul {
    /*border-right: 4px solid black;
    border-left: 4px solid black;*/
    display: block;
    width: 100%;
    margin: auto;
}

ul:first-child {
    /*border-top: 4px solid black;*/
    /*margin-top: 20px;*/
}

ul:nth-child(3n+0) {
    /*border-bottom: 4px solid black;*/
}

ul:last-child {
    /*border-bottom: 4px solid black;*/
}

li {
  height: calc(100% / 9);
  width: calc(100% / 9);
  /*border: 1px solid black;*/
  float: left;
  display: block;
  background: #FFCCCC;
}

li:nth-child(3n + 0) {
    /*border-right: 4px solid black;*/
}

li:nth-child(9n + 0) {
    /*border-right: 1px solid black;*/
}

.b1 {
    background: #FF0099;
}
.b2 {
    background: #D9008C;
}
.b3 {
    background: #B30080;
}
.b4 {
    background: #8C0073;
}
.b5 {
    background: #660066;
}
.b6 {
    background: #590D8C;
}
.b7 {
    background: #4D1AB3;
}
.b8 {
    background: #4026D9;
}
.b9 {
    background: #3333FF;
}
